<!DOCTYPE html>
<html lang="ja">
<head>
<title><%= params.page_title %></title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="keywords" content="<%= params.page_keywords %>">
<meta property="og:type" content="website"/>
<meta property="og:title" content="<%= params.page_title %>"/>
<meta property="og:description" content="<%= params.page_description %>"/>
<meta property="og:url" content="<%= params.page_url %>"/>
<link rel="stylesheet" href="<%= params.css_path %>app.css?<%= params.cache_busting_str %>">
</head>
<body class="<%= params.body_class %>">
