<%
var dir = '.';
var params = {};
params.dir = dir;
include(dir + '/includes/_data', {params: params});
params.page_title = '';
params.page_keywords = '';
params.page_description = '';
params.page_url = '';
params.body_class = 'page--top';
%>
<%- include(dir + '/includes/_header.ejs', {params: params}) %>
<%- include(dir + '/includes/_header_content.ejs', {params: params}) %>


<main>



<section>
  <div class="top--heading">
    <div class="bg-image">
      <picture>
        <source media="(max-width:767px)" srcset="<%= params.img_path %>top/bg_heading_sp.jpg" />
        <img src="<%= params.img_path %>top/bg_heading_pc.jpg" alt="">
      </picture>
    </div>
    <div class="main-image">
      <div class="img-obj">
        <img src="<%= params.img_path %>top/obj_heading.png" alt="" class="w-100">
      </div>
    </div>
    <a href="member.html" class="btn-regist">
      <picture>
        <source media="(max-width:767px)" srcset="<%= params.img_path %>top/btn_regist_sp.png" />
        <img src="<%= params.img_path %>top/btn_regist_pc.png" alt="">
      </picture>
    </a>
  </div>
</section>


<section>
  <div class="top--has-bg">
    <section>
      <div class="top--main-section">
        <div class="container">
          <div class="main-heading">
            <h1 class="hd-title">日本地図学会2022年度<br class="d-md-none">定期大会のご案内(第3報)</h1>
            <div class="hd-text">2022年度定期大会を下記の通り開催いたします。<br>会員の皆様には奮ってご参加いただきたく、ご協力をよろしくお願い申し上げます。<br>今年度の定期大会は<strong>リモートによる発表と都内で開催する地図・図書展を併用して実施します。</strong></div>
          </div>
          <div class="main-list">
            <div class="list-block">
              <div class="lb-title">日時</div>
              <div class="lb-value">2022年8月6日（土）9:00~17:00・7日（日）9:00~16:05</div>
            </div>
            <div class="list-block">
              <div class="lb-title">リモート発信会場</div>
              <div class="lb-value">青山学院大学相模原キャンパス<br>〒252-5258 神奈川県相模原市中央区淵野辺５丁目１０−１<br><a href="https://www.aoyama.ac.jp/outline/campus/access.html#anchor_02" target="_blank">https://www.aoyama.ac.jp/outline/campus/access.html#anchor_02</a></div>
            </div>
            <div class="list-block">
              <div class="lb-title">地図・図書展会場</div>
              <div class="lb-value">日本大学経済学部（水道橋）7号館2階講堂 JR水道橋駅下車5分<br>〒101-8360 東京都千代田区神田三崎町１丁目３−２<br>
<a href="https://www.eco.nihon-u.ac.jp/access/" target="_blank">https://www.eco.nihon-u.ac.jp/access/</a><br><small>※地図展開催の日時は上記日時と同じです（ただし、2日目の15:00から一部の展示は撤収されます）。</small><br><small>※なお、会場でもwi-fiが完備されていますので、参加登録済み者はPCとイヤホン（ヘッドホン）をご持参の上、大会内容（発表・セッション・シンポジウム）</small>を3階観覧席で視聴できます</div>
            </div>
            <div class="list-block">
              <div class="lb-title">スケジュール（予定）</div>
              <div class="lb-value">研究発表（6日および7日）<br>特別セッション、シンポジウム、ワークショップ、フォーラム等（同上）<br>地図・図書等の展示については、日本大学経済学部（水道橋駅下車3分）に展示会場を設け、8月6日・7日、リアルな地図類の展示を行います。</div>
            </div>
            <div class="list-block">
              <div class="lb-title">大会参加費</div>
              <div class="lb-value">普通会員等・特別会員団体構成員・学生会員　1,000円<br>非会員　2,000円<br><small>※ 都内「地図・図書展」の閲覧・入場は無料。</small></div>
            </div>
            <div class="list-block">
              <div class="lb-title">申し込み</div>
              <div class="lb-value">
                Peatixのサイトからのみの申し込みになります。
                <div class="banner">
                  <a href="https://jcc2022.peatix.com/view" target="_blank">
                    <img src="<%= params.img_path %>top/banner_peatix.png" alt="" class="w-100">
                  </a>
                </div>
                <ul class="cautions">
                  <li>※ Peatixをご利用いただくためには、まずPeatixのアカウントを取得していただく必要があります。Peatixのアカウント取得から参加申込までの手順については こちらにまとめてます。</li>
                  <li>※ 日本地図学会の普通会員･特別会員団体構成員・学生会員の方は「地図学会会員」、それ以外の方<br>（いずれの会員でもない方）は「地図学会非会員」のチケットをお申し込みください。</li>
                  <li>※ 参加申込は8月7日（日）までとなります。</li>
                  <li>※ 参加者には事前に参加方法（ZoomミーティングのURL・パスワード等）をご連絡します。</li>
                  <li>※ 当日までに「定期大会発表論文・資料集（PDF版）」を配布いたします。</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="main-white-box">
            <h2>シンポジウム、特別セッションの企画募集</h2>
            <div>期限 | 6月30日（木）までに事務局宛（電子メールか郵送にて）</div>
            <p>定期大会のシンポジウム、特別セッションの企画を公募します。<br>提案される代表者の方は、テーマ、趣旨（200字以内）、発表者名、発表題目などの提案内容をとりまとめて、電子メールか郵送にて6月30日（木）までに事務局宛にお送り下さい。「定期大会発表論文・資料集」のデジタル原稿は 7月11日（月）までに代表者の方が全員分をまとめて提出して下さい。</p>
          </div>
          <div class="main-white-box">
            <h2>地図・図書展示の出展募集について</h2>
            <div>期限 | 7月11日（月）まで</div>
            <p>出展希望の方は事務局までお申し出下さい。「定期大会発表論文・資料集(pdf.)」掲載用原稿（デジタル）は、7月11日（月）を締切りとします。<br>特別会員には詳細をあらためてご連絡します。</p>
          </div>
          <div class="main-white-box">
            <h2>研究発表申し込み要領</h2>
            <div>期限 | 7月11日（月）まで<br>宛先 | 事務局宛　<a href="mailto:info@jcacj.org">info@jcacj.org</a><br>その他・問い合わせ先 | 企画・集会委員長 太田　弘　<a href="mailto:mapota@keio.jp">mapota@keio.jp</a></div>
            <p>研究発表での発表を希望される方は、下記リンク先の要領をご確認の上、学会事務局にお申し込み下さい。<br>研究発表の申し込みと「大会発表論文・資料集」の原稿（デジタル）を同時に受け付けます。締切りは、7月11日（月）（必着）です。発表希望者は、下記のリンクをご参照の上、「大会発表論文・資料集」の原稿を、事務局宛てに電子メールの添付ファイルで送信するか、郵送で提出して下さい。</p>
            <div><a href="file/entry/entryguide2022.pdf" target="_blank">大会案内・発表申し込み要領</a><br><a href="file/entry/Templete2022JCA.doc" target="blank">投稿用テンプレート</a><br><a href="file/entry/Sample2022JCA.doc" target="_blank">投稿サンプル</a></div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="top--topics">
        <div class="container">
          <h2 class="section-title">TOPICS</h2>
          <div class="topics-list">
            <a href="" class="topics">
              <div class="t-img"><img src="<%= params.img_path %>top/img_topics_01.jpg" alt="" class="w-100"></div>
              <div class="t-val">
                <p>8月6日（土）9:00～9:40</p>
                <p class="name">川田 未羽(品川女子学院)/河合 豊明 * (品川女子学院)</p>
                <p>個人が探究する地図学習の提案</p>
                <p>- データを実感できる地図作成を事例に -</p>
              </div>
            </a>
            <a href="" class="topics">
              <div class="t-img"><img src="<%= params.img_path %>top/img_topics_02.jpg" alt="" class="w-100"></div>
              <div class="t-val">
                <p>8月6日（土）9:40～10:40</p>
                <p class="name">若林 芳樹（東京都立大学）</p>
                <p>オンライン調査に基づく地図利用のデジタル化の影響の分析</p>
              </div>
            </a>
            <a href="" class="topics">
              <div class="t-img"><img src="<%= params.img_path %>top/img_topics_03.jpg" alt="" class="w-100"></div>
              <div class="t-val">
                <p>8月6日（土）9:00～9:40</p>
                <p class="name">鈴木 厚志（立正大学）</p>
                <p>統計地図のルーツを辿る（第一報） </p>
                <p>— 初期主題図の起こりと発達 —</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>


<section>
  <div class="top--archives">
    <h2 class="section-title">ARCHIVES</h2>
    <div class="archive-list">
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_01.jpg" alt="" class="w-100"></a>
      </div>
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_02.jpg" alt="" class="w-100"></a>
      </div>
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_03.jpg" alt="" class="w-100"></a>
      </div>
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_01.jpg" alt="" class="w-100"></a>
      </div>
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_02.jpg" alt="" class="w-100"></a>
      </div>
      <div class="archive">
        <a href="" class="photo"><img src="<%= params.img_path %>top/img_archive_03.jpg" alt="" class="w-100"></a>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="top--information">
    <div class="container">
      <h2 class="section-title">INFORMATION</h2>
      <div class="information-list">
        <div class="information">
          <div class="info-inner">
            <div class="i-title">【日本地図学会　<br>2022年度定期大会のお知らせ（第3報）】</div>
            <a href="conference.html#def" class="i-value">2022年8月6日（土）・7日（日）に2022年度定期大会を開催します。第3報（大会案内・プログラム）を掲載しました。</a>
          </div>
        </div>
        <div class="information">
          <div class="info-inner">
            <div class="i-title">日本地図学会<br>第121回例会のお知らせ</div>
            <a href="conference.html#3" class="i-value">2022年7月30日（土）・31日（日）に第121回例会を開催します。</a>
          </div>
        </div>
        <div class="information">
          <div class="info-inner">
            <div class="i-title">日本地図学会<br>第120回例会のお知らせ</div>
            <a href="conference.html#ghi" class="i-value">2022年7月18日（月・祝）に第120回例会を開催します。</a>
          </div>
        </div>
        <div class="information">
          <div class="info-inner">
            <div class="i-title">機関誌「地図」最新号目次<br>掲載のお知らせ</div>
            <a href="table.html" class="i-value">機関誌「地図」60巻1号（通巻237号）の目次を掲載しました。</a>
          </div>
        </div>
        <div class="information">
          <div class="info-inner">
            <div class="i-title">日本地図学会30期「専門部会」の募集（急告）</div>
            <a href="conference.html#def" class="i-value">第30期専門部会の募集について掲載しました。</a>
          </div>
        </div>
        <div class="information">
          <div class="info-inner">
            <div class="i-title">当学会監修の『地図の事典』が朝倉書店より刊行さ...</div>
            <a href="https://pro.form-mailer.jp/lp/e470d987240306" target="_blank" class="i-value">会員向けには割引販売（2022年3月末日まで）のご厚意をいただいていますので是非この機会に...</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





</main>

<%- include(dir + '/includes/_footer_content', {params: params}) %>
<%- include(dir + '/includes/_footer', {params: params}) %>